  /********************************/
 /***  Sprite Sheet Positions  ***/
/********************************/

/* Sprite Sheet created by using: 
   https://draeton.github.io/stitches/ 
*/
/***** For refference only *****

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-Gochiusa_15x15 {
    width: 15px;
    height: 15px;
    background-position: -5px -5px;
}

.sprite-glasses_14x25 {
    width: 25px;
    height: 14px;
    background-position: -5px -30px;
}

.sprite-toshitai_15x20 {
    width: 20px;
    height: 15px;
    background-position: -5px -54px;
}

.sprite-toyosaki_15x19 {
    width: 19px;
    height: 15px;
    background-position: -5px -79px;
}

.sprite-trysail_15x53 {
    width: 53px;
    height: 15px;
    background-position: -5px -104px;
}


*/
  /****************************/
 /***  User Unique Flairs  ***/
/****************************/

.flair
{
    border: 1px solid transparent;
    border-radius: 5px;
    
    font-size: 12px;
}


/* ~~~~~ Begin custom user titles ~~~~~ */
/* ~~~~~ Please keep the names in alphabetical order ~~~~~ */

/*** >>> A <<< ***/
/*** >>> B <<< ***/
/*** >>> C <<< ***/
/*** >>> D <<< ***/
/*** >>> E <<< ***/
/*** >>> F <<< ***/
/*** >>> G <<< ***/
/*** >>> H <<< ***/
/*** >>> I <<< ***/

    /* inspyral */
    .flair.flair-inspyral:before  { 
        background-image: url(%%spritesheet%%);
        background-repeat: no-repeat;

        /* .sprite-Gochiusa_15x15 */
        width: 15px;
        height: 15px;
        background-position: -5px -5px;

        color: rgba(255,255,255,.1); text-shadow: none;
        content: "...."; 
    }
    .flair.flair-inspyral{ 
        font-weight:bold; 
        background-color: #bce2e8 !important; 
        color: #FFF !important; 
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  
    }


/*** >>> J <<< ***/

    /* Johnhong */
    .flair.flair-Johnhong{ font-weight:bold; background-color: rgba(255,255,255,.1);  }
    .flair.flair-Johnhong:after{ 
        background-image: url(%%spritesheet%%);
        background-repeat: no-repeat;
        background-position: right;

        /* .sprite-toshitai_15x20 */
        width: 20px;
        height: 15px;
        background-position: -5px -54px;

        color: rgba(255,255,255,.1); text-shadow: none;
        content: ".......";
    }


/*** >>> K <<< ***/
/*** >>> L <<< ***/

        /*  Lostblueskies */


/*** >>> M <<< ***/


    /* MorningMiso */
    /* dedication to TrySail content */
    .flair.flair-MorningMiso{ 
        background-image: url(%%spritesheet%%);
        background-repeat: no-repeat;
        background-position: right;

        /* .sprite-trysail_15x53 */
        width: 53px;
                height: 15px;
                background-position: -5px -104px;

        color: rgba(255,255,255,.1); text-shadow: none;
        content: "trysail";
    }


/*** >>> N <<< ***/
/*** >>> O <<< ***/
/*** >>> P <<< ***/

     /* Potastic */
    .flair.flair-Potastic:before  { 
        background-image: url(%%spritesheet%%);
        background-repeat: no-repeat;

        /* .sprite-glasses_14x25 */
        width: 25px;
        height: 14px;
        background-position: -5px -30px;

        color: rgba(255, 255, 255, 1);
        content: ".......";  
    }
    .flair.flair-Potastic{ font-weight:bold; background-color: rgba(255,255,255,.1);  }
    .flair.flair-Potastic:after { font-size: 1.5em; color: red; content: " ♥" }


/*** >>> Q <<< ***/
/*** >>> R <<< ***/
/*** >>> S <<< ***/

    /* SupportHamster */
    /* (dubious) honour of being the first NSFW post in /r/seiyuu */
    /* https://www.reddit.com/r/seiyuu/comments/6abdh4/sugita_and_nakamura_mess_around_with_the/dhdapvv/ */
    .author[href$="/SupportHamster"]:before {
        
        font-weight:bold; 
        color: #000 !important; 
        text-shadow: -1px -1px 0 rgba( 255, 221, 27, .4);
        content: "とても健全な";  
    }

    /*  Salo06 */
    /* for his love and dedicated posts of Sphere and Toyosaki Aki */
    .flair.flair-Salo06:before { 
        background-image: url(%%spritesheet%%);
        background-repeat: no-repeat;

        /* sprite-toyosaki_15x19 */
        width: 19px;
        height: 15px;
        background-position: -5px -79px;

        color: rgba(255,255,255,.1); 
                text-shadow: none;
        content: "....."; 
    }
    .flair.flair-Salo06 { 
                font-weight:bold; 
                background-color: rgba( 0, 204, 104, 1) !important; 
                color: #000 !important; 
                text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;  
    }
    .flair.flair-Salo06:after{
                content: "Toyosaki Aki";
    }

/*** >>> T <<< ***/
/*** >>> U <<< ***/
/*** >>> V <<< ***/
/*** >>> W <<< ***/
/*** >>> X <<< ***/
/*** >>> Y <<< ***/
/*** >>> Z <<< ***/




/* ~~~~~ End custom user titles ~~~~~ */


  /*********************/
 /***  Link Flairs  ***/
/*********************/

.linkflairlabel { 
    background: #FFF; 
    color: #000; 
    font: bold 12px Georgia, serif; 
    border: 1px solid blue; 
    border-radius: 3px; 
    padding: 2px; 
}


  /*********************/
 /*****  General  *****/
/*********************/


/* Tab menu */
#header {
height: 203px;
background: #3aa0a5;
border: 0;
border-bottom: 30px solid #0179d3; }

#header-bottom-left ul.tabmenu {
position: absolute;
display: block;
font-family: cantarell,Arial,sans-serif;
font-weight: 700;
height: 31px;
top: 202px;
left: 175px;
margin: 0;
text-align: left; }

#header-bottom-left ul.tabmenu li { margin: 0; }
#header-bottom-left ul.tabmenu li a {
display: inline-block;
font-size: 10px;
line-height: 31px;
text-transform: uppercase;
color: rgba(255,255,255,.8);
letter-spacing: 1px;
border-right: 1px dashed rgba(255,255,255,.2);
background-color: rgba(0,0,0,.05); }

#header-bottom-left ul.tabmenu li a:hover { background: #f44538; color: #fff; }

#header-bottom-left ul.tabmenu li.selected a {
color: #fff!important;
text-decoration: underline;
background-color: #f44538;
border: 0; }

/* Scrolling Banner */
#header {
    background: url(%%banner-jan18%%);
    -webkit-animation: scroll 140s linear infinite;
    animation: scroll 140s linear infinite;
}
@-webkit-keyframes scroll {
    from { background-position: 0; }
    to   { background-position: -4940px; }
}

#header-bottom-left {
    margin-top: 142px;
}

#header-bottom-left:after{ 
font-weight: bold;
font-size: 1.2em;
color: white;
content: "/r/seiyuu";
vertical-align: 50%;
}

/* Subreddit home button */
#header .pagename a {
    background: url(%%main-bannertxt%%) no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    position: absolute;
    top: 50%;
    min-height: 84%;
    left: 50%;
    min-width: 500px; /* the width of the image */
    transform: translate(-50%,-44%);
    font-size: 0px; /* This is to remove the sub name text */
}

/* Gets rid of the text after the colon in the sub name */
#header-bottom-left > span.pagename {
    color: transparent;
}

/* Comment note (borrowed from /r/games) - above top-level reply box only */
.commentarea .usertext-edit:after {
    /* content: "Please note: /r/Seiyuu's comments are moderated."; */
    display: block;
    text-align: center;
    margin-top: -5px;
    margin-bottom: 4px;
    margin-right: -5px;
    padding: 4px;
    color: #000 !important;
    background-color:#f6e69f;
    border:1px solid orange;
    font-size: 11px;
    font-weight: bold;
}


/* Better visible spammed/removed comments */
body .content .sitetable .thing.spam, body .sitetable .thing.spam.deleted.link.self{
border: solid 2px #FA8072 !important;
}

/* Links Colors & Size*/

.title:hover {
    color: #000 !important 
    }
.title {
    font-weight: bold !important;
    font-size: 1.22em !important;
    }
.title {
    color: black !important
    }
.title a.title:visited {
    color: #a9a9a9 !important;
    }
.author {
    color: #00305F !important
    }
.footer {
    background-color: white;
    border: 1px solid gray;
    }
.linefield {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    }

  /******************************/
 /*       SIDEBAR              */
/******************************/

/*** Sidebar General formatting ***/

/* Changes the font size for all of the text in the sidebar */
.md-container-small .md .-text, .side .md .-text, .md-container-small .md p,
.side .md p, .md-container-small .md pre>code, .side .md pre>code,
.md-container-small .md th, .side .md th, .md-container-small .md td,
.side .md td, .md-container-small .md li, .side .md li {
    font-size: 1.25em;
    line-height: 1.25em;
}

.side hr {
    border: 0;
    border-bottom: 1px solid white;
    margin: 10px 0;
}

.side .bottom {
    border-top: 1px solid white;
}

.side .subscribe-button {

}
.side .subscribe-button .option {
    width: 100%;
    height: 100%;
    border: 0;
    background: #f44437;
    padding: 3px 5px;
}
.side .titlebox .res-fancy-toggle-button {
    border: 0;
    background: #f44437;
    color: #FFF;
    padding: 3px 5px;
    line-height: 1;
}

.sidecontentbox .title {
    background: #0179d3;
    margin-bottom: 0;
    border-radius: 5px;
    padding: 0 0 0 10px;
    position: relative;
    line-height: 35px;
}
.sidecontentbox .title h1 {
    color: #FFF;
    text-transform: lowercase;
    font-size: 1.3rem;
}
.sidecontentbox .content {
    background: #FFF;
    border: 1px solid #cfcfcf;
    border-top: 0;
    box-shadow: 0 -5px #6a9de6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
}

.sidecontentbox a.helplink,
.side .md h1 a,
.sidecontentbox .title .collapse-button {
    display: inline;
    color: #FFF;
    background: #f44538;
    font-family: "Verdana", sans-serif;
    font-size: .9em;
    font-weight: bold;
    line-height: 13px;
    padding: 3px 5px;
    border: 0;
    border-radius: 3px;
    margin: 8px 8px 8px 0;
    float: right;
    width: auto;
    height: auto;
    position: relative;
    z-index: 1;
}

.sidecontentbox a.helplink {
    display: inline;
    z-index: 1;
    background: #f44538;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: box-shadow 0.2s ease;
    transition: box-shadow 0.2s ease;
}
.sidecontentbox a.helplink:hover {
    background: #E53935;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .14), 0 2px 2px 0 rgba(0, 0, 0, .098), 0 1px 5px 0 rgba(0, 0, 0, .084);
    -webkit-transition: box-shadow 0.1s ease;
    transition: box-shadow 0.1s ease;
}

.morelink .nub,
.sidebox.create {
    display: none
}

#search input[type="text"] {
    height: 35px;
    background: #FFF;
    color: #000;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    padding: 0 40px 0 10px;
    line-height: 30px;
    position: relative;
    z-index: 0;
    transition: z-index 0s .2s, margin-left .2s, width .2s;
}

/***  END Sidebar General formatting ***/

/*** Sidebar Rules formatting ***/
/*SIDEBAR RULES HOVER BOX! Stolen and modified from /r/manga who stole it from /r/videos*/

/* rules */
.side .md blockquote {
    border-left: none;
    margin: 0;
    padding: 0;
}

.side h2, h1.redditname, h1.redditname a {
    background: #0179d3;
    color: #fff;
    border-radius: 3px;
    text-align: center;
}

.side blockquote h2 ~ ol {
    display: none;
}
.side blockquote:hover h2 ~ ol {
    display: block;
    text-align: left;
    transition: 300ms ease-in-out;
}

.side blockquote:hover h2 {
    background: #f44538;
}
.side blockquote ol li {
    display: list-item;
}

/* flair def and search */

.side h2+ul li > ul {
    display: none;
}
.side h2+ul li:hover > ul { 
    display: block;
    text-align: left;
    transition: 300ms ease-in-out;
    
    list-style-type: none;
    border: 1px solid black; 
    margin: 0px;
    padding: 5px;
    
    border-color:#f0f0f0;
    background-color:#fdfdfd;
    font-size: 0.8em;
}


/*** END of Sidebar Rules formatting ***/

/*** New Sidebar Birthday Table formatting ***/

.side h2+table {
    margin: 0;
    border-collapse: separate;
    border-spacing: 0 2px;
    width: 100%;
}
.side h2+table thead {
    display: none;
}
.side h2+table td {
    border: 0;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 6px 10px;
}
.side h2+table td:nth-of-type(1) {
    background: #0179d3;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 3px 0px 0px 3px;
}
.side h2+table td:nth-of-type(2) {
    background: #00589a;
    color: #ffffff;
    border-color: rgba(0, 0, 0, .2);
    border-left: 0;
    border-radius: 0px 3px 3px 0px;
}
.side h2+table td:nth-of-type(3) {
    background: #0179d3;
    color: #ffffff;
    border-color: rgba(0, 0, 0, .2);
    border-left: 0;
    border-radius: 0px 3px 3px 0px;
}

/*** END of Sidebar Table formatting ***/

  /******************************/
 /*       END SIDEBAR          */
/******************************/

